@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: #f2f2f2;
  color: #1b1b1b;
  font-family: "Inter";
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #6b6b6b;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 0;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
.form-container {
  width: 100%;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 80%;
  height: 32px;
  margin: 10px 5px 20px 0;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  color: #6b6b6b;
}
.btn-application-next {
  border: none;
  background-color: #854a96;
  color: whitesmoke;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  margin: 10px;
}
.btn-application-next a {
  color: whitesmoke;
}
.btn-application-save {
  border: 2px solid #854a96;
  background-color: none;
  color: #854a96;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  margin: 10px;
  background-color: whitesmoke;
}
