.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.container div {
  height: 80%;
  width: 10%;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container div:hover {
  border-bottom: 1px solid burlywood;
}
